<!DOCTYPE html>
<html>
  <title>RPS by Guillaume</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Orbitron">
    <link rel="stylesheet" href="<%= url('/styles.css') %>">
  <body>
    <div class="the_winner">
      ...and the winner is... <%= @result %>!
    </div>
    <br><br>
    <div class="both_choices">
      <table width="440">
        <tr>
          <td width="50%"><br>You chose:<br><br><img src="/images/<%= @win_or_lose %><%= @hand %>.jpg"></td>
          <td width="50%"><br>The CPU chose:<br><br><img src="/images/<%= @cpu_win_or_lose %><%= @cpu_hand %>.jpg"></td>
        </tr>
      </table>
    </div>
    <br><br>
    <button type="button" class="playagain"><a href='/game_play'>Play again!</a></button><br><br>
    <table>
      <tr>
        <td>
          <button type="button" class="button_one"><a href='/game_options'>Choose a type of game</a></button>
        </td>
        <td>
          <button type="button" class="button_two"><a href='/'>Back to the Homepage</a></button>
        </td>
      </tr>
    </table>
  </body>
</html>